*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  scroll-behavior: smooth;
}

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("../assets/hero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: 0 2px 24px rgba(0, 0, 0, 0.8);

  h1 {
    position: absolute;
    top: 25%;
    left: 5rem;
    transform: translateY(-25%);
    color: white;
    font-size: 5rem;
  }

  button {
    position: absolute;
    bottom: 2rem;
    right: 5rem;
    font-size: 2rem;
    background-color: white;
    border: none;
    padding: 1rem 2rem;
    font-weight: bold;
    border-radius: 8px;
    transition: all 0.25s;
    cursor: pointer;

    a {
      text-decoration: none;
      color: black;
    }
  }

  button:hover {
    scale: 1.1;
  }
}

.sejarah {
  padding: 5rem;
  background-color: rgb(247, 247, 247);

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.5rem;
    img {
      height: 25vh;
    }
    h1 {
      font-size: 2.5rem;
    }
  }

  h3 {
    text-align: center;
  }
}

.pelayanan-umum-container {
  padding: 5rem;
  background-color: #333;
  color: white;

  .pelayanan-umum-title {
    text-align: center;
    margin-bottom: 5rem;
  }

  .pelayanan-umum {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;

    .layanan {
      width: 100%;
      padding: 1rem;

      h1 {
        text-align: center;
        margin-bottom: 1rem;
      }

      ul {
        text-align: center;

        li {
          list-style: none;
          padding-top: 1rem;
          font-weight: bold;
        }
      }
    }

    .gray {
      background-color: gray;
      color: white;
    }

    .white {
      background-color: white;
      color: black;
    }
  }
}

.struktur-organisasi {
  img {
    width: 100%;
  }
}

footer {
  padding: 2.5rem;
  background-color: #333;
  .google-map-location {
    width: 100%;
    height: 75vh;
  }

  p {
    color: lightgray;
  }
}
